@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
   background: #bada55;
}
#main-header{
   font-family: Quicksand, sans-serif;
   border: 2px dotted #000;
   margin-left: 20px;
}
#main-header h1 {
   margin-left: 20px;
}

#title1{
   display:flex;
}
